.magic-card:hover {
    box-shadow: 0px 0px 25px 9px #70F9F0;
    transition: 0.25s;
    cursor: grab;
}

.magic-card{
    width: 150px;
    height: 220px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    flex-direction: column;
}