body {
    background-color: #F6F1E9;
    padding: 0;
    margin: 0;
}


/* .magic-card:hover {
    box-shadow: 0px 0px 25px 9px #FF8400;
    transition: 0.25s;
    cursor: grab;
} */

.magic-card{
    width: 50%;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    color: #4F200D;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.magic-card-img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.list{
    display: flex;
    align-items: left;
}

.item{
    padding-left: 8px;
}

.purchaseLink{
    margin-top: 2%;
    width: 40%;
    background-color: #FFD93D;
    color: #4F200D;
    font-size: large;
    font-weight: bold;
}

.purchaseLink:hover{
    background-color: #FF8400;
}

#link{
    color: #4F200D;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

#details {
    background-color: #F6F1E9;
    border: 2px solid #4F200D;
}

#title {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 5%;
    width: 90%;
    text-align: center;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
}

