body {
    background-color: #F6F1E9;
    padding: 0;
    margin: 0;
}


/* .magic-card:hover {
    box-shadow: 0px 0px 25px 9px #FF8400;
    transition: 0.25s;
    cursor: grab;
} */

.magic-card{
    width: 60%;
    background-color:  #F6F1E9!important;
    margin-left: auto !important;
    margin-right: auto !important; 
    color: #4F200D !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.magic-card-img{
    width: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 1% !important;
}

.list{
    display: flex !important;
    align-items: left !important;
}

.item{
    padding-left: 8px !important;
}

.purchaseLink{
    margin-top: 2% !important;
    width: 40% !important;
    background-color: #FFD93D !important;
    color: #4F200D !important;
    font-size: large !important;
    font-weight: bold !important;
}

.purchaseLink:hover{
    background-color: #FF8400 !important;
}

#link{
    color: #4F200D;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

#detailList {
    background-color: #F6F1E9;
    border: 2px solid #4F200D;
}

#title {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 5%;
    width: 90%;
    text-align: center;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
}

.closeDetails {
    background-color: lightgray;
    margin-bottom: -1%;
    margin-top: 1.5%;
    margin-left: 92%;

    max-width: 5%;
    border: none;
    scale: 150%;
}

.closeDetails:hover {
    animation: shake 0.52s cubic-bezier(.26,.02,.09,.57) 
both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-.5px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
  }
