


.gettingStartedWrapper {
    background-color: burlywood;
    background-size: 200%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url(https://sm.ign.com/ign_ap/screenshot/default/39307-magic-the-gathering_3u3m.jpg);
}

.gettingStartedSection {
    padding: 40px;
    margin: 20px;
    background-color: #F6F1E9;
    width: 400px;
    height: 600px;
    border: 10px;
    border-radius: 10px;
    text-align: center;
    border-color: blueviolet;
    box-shadow: 10px 5px 5px black;
}
.gettingStartedSection:hover {
    scale: 1.1;
}

.header {
    font-family: fantasy;
}
.information {
    font-family: cursive;
}